[package]
authors = ["Alex Moon <alex@moonspot.org>"]
description = "Bluetooth HCI data types"
edition = "2021"
license = "MIT OR Apache-2.0"
name = "bt-hci"
repository = "https://github.com/alexmoon/bt-hci"
version = "0.1.0"

[features]
defmt = ["dep:defmt", "embedded-io/defmt-03", "embedded-io-async/defmt-03"]

[dependencies]
defmt = { version = "0.3", optional = true }
log = { version = "0.4", optional = true }
embedded-io = "0.6.0"
embedded-io-async = "0.6.0"
embassy-sync = "0.5"
embassy-time = "0.3"
heapless = "0.8"
futures-intrusive = { version = "0.5.0", default-features = false }
